<html>
<head>
  <title>Study Group Assigned</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<p>OK, you were asssigned to study group <%= @group %>, and we'll call you <b><%= @callname%></p>
<%= erb :_return_to_lms %>
</body>
</html>